*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

 /* CLASES GENERALES */
body{
    background-color:aliceblue;
}
h2{
    color: orange;
}
header section{
    background-color: #219ebc;
    text-align: center;
    color:aliceblue;
}

.cabecera{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3%;
    height: 40%;
}

#logo{
    background-color:#219ebc;
    width: 18%;
    height: 80%;
    display: flex;
    align-items: center;
}

#logoImg{
    width: 170%;
}

#nombreTienda{
    display: flex;
    background-color: #219dbc00;
    width: 50%;
    height: 50%;
    align-items: end;
    justify-content: center;
}

#buscador{
    border-radius: 16px;
    outline: none;
    text-align: left;
    width: 120%;
    margin-left: 15%;
    padding: 2% 0% 2% 5%;
}

#cesta{
    width: 80%;
    
    
}

#carrito{
    background-color: #219ebc;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
}

/* BARRA NAVEGACION */

.barraNav{
    background-color: #2a363b;
    display: flex;
    height: 15%;
}

.barraNav a{
    opacity: 0;
}

.botonCompra{
    background-color: orangered;
    padding: 2%;
    color:aliceblue;
    border-radius: 12px;
    margin-left: 23%;
    font-size: 18px;
    text-decoration: none;
}

.botonCompra:hover{
    background-color: #023047;
}
.imgProduct{
    width: 100%;
}
#productos{
    width: 100%;
    display: flex;
    background-color: aliceblue;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 2%;
}
#imgProduct{
    width: 250px;
}
.text{
    width: 250px;
}
.precio{
    font-size: 20px;
    color: orangered;
    font-weight: bold;
}
aside{
    padding: 5%;
}
iframe{
    max-width: 100%;
    padding: 5%;
}

/* FOOTER */

label{
    color: grey;
}

#botonRestart{
    /* background-color: orange; */
    align-self: self-end;
    margin-right: 20px;
    width: 10%;
    height: 30px;
    font-size: 30px;
    border-radius: 6px;
    text-decoration: none;
}

footer{
    background-color: #023047;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 5%;
    width: 100%;
}

footer div p{
    margin: 1.5%;
}

.contacto{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    width: 45%;
    color: aliceblue;
    margin-bottom: 5%;
}

#enlaceEnvio{
    color: orange;
    font-size: 20px;
}

#enlaceEnvio:hover{
    font-size: 25px;
    color: orangered;
}

/* FORMULARIOS */

#contacto{
    margin-bottom: 1%;
    width: 100%;
    margin-left: 17%;
    margin-bottom: 5%;

}
#name{
    border-radius: 12px;
    color:#023047;
    padding: 2%;
    width: 90%;
}

#dudas{
    border-radius: 12px;
    width: 90%;
    height: 100px;
    padding: 2%;
}
#email{
    border-radius: 12px;
    padding: 2%;
    width: 90%;
}
#submit{
    border-radius: 6px;
    padding: 4% 7%;
    font-size: 20px;
    background-color: orangered;
    color: aliceblue;
}

#submit:hover{
    border-radius: 6px;
    padding: 4% 7%;
    font-size: 20px;
    background-color:aliceblue;
    color:#023047;
}

/* FOOTER */

@media screen and (min-width: 425px) {
    #botonRestart{
        align-self: self-end;
        margin-right: 20px;
        width: 10%;
        height: 30px;
        font-size: 30px;
        border-radius: 6px;
        text-decoration: none;
    }
    
    footer{
        background-color: #023047;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;;
        padding-top: 5%;
    }
    
    footer div p{
        margin: 1.5%;
        width: 95%;
    }
    
    .contacto{
        display: flex;
        flex-direction: column;
        margin-left: 5%;
        color: aliceblue;
        margin-bottom: 5%;
        max-width: 500px;
        margin-top: 20px;
    }
    
    #enlaceEnvio{
        color: orange;
        font-size: 20px;
    }
    
    #enlaceEnvio:hover{
        font-size: 25px;
        color: orangered;
    }
    
    /* FORMULARIOS */
    
    #preguntas{
        max-width:  600px;
    }
    
    #contacto{
        margin-bottom: 1%;
        margin-left: 10%;
        margin-bottom: 5%;
        width: 140%;
    }
    #name{
        border-radius: 12px;
        color:#023047;
        padding: 2%;
        width: 100%;
    }
    
    #dudas{
        border-radius: 12px;
        width: 100%;
        height: 100px;
        padding: 2%;
    }
    #email{
        border-radius: 12px;
        padding: 2%;
        width: 100%;
    }
    #submit{
        border-radius: 8px;
        padding: 4% 7%;
        font-size: 20px;
        background-color: orangered;
        color: aliceblue;
    }
    
    #submit:hover{
        border-radius: 6px;
        padding: 4% 7%;
        font-size: 20px;
        background-color:aliceblue;
        color:#023047;
    }
    
}

@media screen and (min-width: 768px) {
    #botonRestart{
        align-self: self-end;
        margin-right: 20px;
        width: 10%;
        height: 30px;
        font-size: 30px;
        border-radius: 6px;
        text-decoration: none;
    }
    
    footer{
        background-color: #023047;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: nowrap;
        padding-top: 5%;
    }
    
    footer div p{
        margin: 1.5%;
        width: 95%;
    }
    
    .contacto{
        display: flex;
        flex-direction: column;
        margin-left: 5%;
        color: aliceblue;
        margin-bottom: 5%;
        max-width: 300px;
        margin-top: 20px;
    }
    
    #enlaceEnvio{
        color: orange;
        font-size: 20px;
    }
    
    #enlaceEnvio:hover{
        font-size: 25px;
        color: orangered;
    }
    
    /* FORMULARIOS */
    
    #preguntas{
        max-width:  270px;
    }
    
    #contacto{
        margin-bottom: 1%;
        margin-left: 10%;
        margin-bottom: 5%;
        width: 130%;
    }
    #name{
        border-radius: 12px;
        color:#023047;
        padding: 2%;
        width: 100%;
    }
    
    #dudas{
        border-radius: 12px;
        width: 100%;
        height: 100px;
        padding: 2%;
    }
    #email{
        border-radius: 12px;
        padding: 2%;
        width: 100%;
    }
    #submit{
        border-radius: 8px;
        padding: 4% 7%;
        font-size: 20px;
        background-color: orangered;
        color: aliceblue;
    }
    
    #submit:hover{
        border-radius: 6px;
        padding: 4% 7%;
        font-size: 20px;
        background-color:aliceblue;
        color:#023047;
    }
}

@media screen and (min-width: 1024px){
    #botonRestart{
        align-self: self-end;
        margin-right: 20px;
        width: 10%;
        height: 30px;
        font-size: 30px;
        border-radius: 6px;
        text-decoration: none;
    }
    
    footer{
        background-color: #023047;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding-top: 5%;
    }
    
    footer div p{
        margin: 1.5%;
        width: 85%;
        font-size: 23px;
    }
    
    .contacto{
        display: flex;
        flex-direction: column;
        margin-left: 5%;
        color: aliceblue;
        margin-bottom: 5%;
        max-width: 500px;
        margin-top: 20px;
    }
    
    #enlaceEnvio{
        color: orange;
        font-size: 20px;
    }
    
    #enlaceEnvio:hover{
        font-size: 25px;
        color: orangered;
    }
    
    /* FORMULARIOS */
    
    #preguntas{
        max-width:  270px;
    }
    
    #contacto{
        margin-bottom: 1%;
        margin-left: 10%;
        margin-bottom: 5%;
        width: 150%;
    }
    #name{
        border-radius: 12px;
        color:#023047;
        padding: 3%;
        width: 100%;
    }
    
    #dudas{
        border-radius: 12px;
        width: 100%;
        height: 100px;
        padding: 2%;
    }

    #contacto label{
        font-size: 25px;
    }

    #email{
        border-radius: 12px;
        padding: 3%;
        width: 100%;
    }
    #submit{
        border-radius: 8px;
        padding: 4% 7%;
        font-size: 30px;
        background-color: orangered;
        color: aliceblue;
        margin-top: 20px;
    }
    
    #submit:hover{
        border-radius: 6px;
        padding: 4% 7%;
        font-size: 30px;
        background-color:aliceblue;
        color:#023047;
    }

    #contacto label{
        font-size: 25px;
    }

}


@media screen and (min-width: 1440px) {
    #botonRestart{
        align-self: self-end;
        margin-right: 20px;
        width: 10%;
        height: 30px;
        font-size: 30px;
        border-radius: 6px;
        text-decoration: none;
    }
    
    footer{
        background-color: #023047;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding-top: 5%;
        justify-content: space-around;
    }
    
    footer div p{
        margin: 1.5%;
        width: 95%;
        font-size: 25px;
    }
    
    .contacto{
        display: flex;
        flex-direction: column;
        margin-left: 5%;
        color: aliceblue;
        margin-bottom: 5%;
        max-width: 500px;
        margin-top: 20px;
    }
    
    #enlaceEnvio{
        color: orange;
        font-size: 20px;
    }
    
    #enlaceEnvio:hover{
        font-size: 25px;
        color: orangered;
    }
    
    /* FORMULARIOS */
    
    #preguntas{
        max-width:  270px;
    }
    
    #contacto{
        margin-bottom: 1%;
        margin-left: 10%;
        margin-bottom: 5%;
        width: 190%;
    }
    #name{
        border-radius: 12px;
        color:#023047;
        padding: 3%;
        width: 100%;
    }
    
    #dudas{
        border-radius: 12px;
        width: 100%;
        height: 100px;
        padding: 2%;
    }

    #contacto label{
        font-size: 25px;
    }

    #email{
        border-radius: 12px;
        padding: 3%;
        width: 100%;
    }
    #submit{
        border-radius: 8px;
        padding: 4% 7%;
        font-size: 30px;
        background-color: orangered;
        color: aliceblue;
        margin-top: 20px;
    }
    
    #submit:hover{
        border-radius: 6px;
        padding: 4% 7%;
        font-size: 30px;
        background-color:aliceblue;
        color:#023047;
    }
}
